---
const target = "/es/blog";
---

<html lang="es">
  <head>
    <meta http-equiv="refresh" content={`0; url=${target}`} />
    <link rel="canonical" href={target} />
    <title>Redirecting...</title>
  </head>
  <body>Redirecting...</body>
</html>
