---
---
<html lang="es">
  <head>
    <meta
      http-equiv="refresh"
      content={`0; url=/arsenal/${Astro.params.project}/${Astro.params.slug}`}
    />
    <link
      rel="canonical"
      href={`/arsenal/${Astro.params.project}/${Astro.params.slug}`}
    />
    <title>Redireccionando...</title>
  </head>
  <body>
    Redireccionando...
  </body>
</html>
