---
---
<html lang="es">
  <head>
    <meta
      http-equiv="refresh"
      content={`0; url=/arsenal/${Astro.params.project}`}
    />
    <link rel="canonical" href={`/arsenal/${Astro.params.project}`} />
    <title>Redireccionando...</title>
  </head>
  <body>Redireccionando...</body>
</html>
